
     

  <ion-card>
    <div class="content">
      <img  class="image"*ngIf="time>0" src="https://thumbs.gfycat.com/DisgustingSpiffyIguana-small.gif" />
      <img  *ngIf="time1==4" src="../../assets/score1.png" />


      <div class="text" *ngIf="time1==4"><h1> {{this.auth.Percent | number: '1.0-1' }}</h1></div>
  </div>
    <ion-card-header>
      <ion-card-subtitle></ion-card-subtitle>
      <ion-card-title *ngIf="time>0">Calculating<ion-spinner style="padding-top: 10px;" name="dots" color="dark"></ion-spinner></ion-card-title>
      <ion-card-title  *ngIf="time1==4">your Score is {{this.auth.Percent | number: '1.0-1' }}</ion-card-title>
    </ion-card-header>
  
 
  </ion-card>
<div class="button">
  <h2>OK</h2>
</div>

