<ion-header translucent no-border>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button>
        Chat with Us
      </ion-button>
    </ion-buttons>
    <ion-title>&nbsp;</ion-title>
    <ion-buttons slot="end" color="dark">
      <ion-button>
        <ion-icon name="ellipsis-vertical-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>


<ion-content fullscreen="true" slot="fixed">
<ion-card  (click)="toPC('Dr Dhruva das')">
  <div class="avatar1">
    <img src="../../assets/user.png" alt="">
  </div>
  <div>
    <ion-card-subtitle>Psychological Counseller </ion-card-subtitle>
    <h5 style="margin: 0px 0px 10px;"><b>Dr Dhruva Das</b></h5>
  </div>
</ion-card>
<ion-card  (click)="toCC('Sk Gupta')">
  <div class="avatar1">
    <img src="../../assets/user.png" alt="">
  </div>
  <div>
    <ion-card-subtitle>Career Counseller </ion-card-subtitle>
    <h5 style="margin: 0px 0px 10px;"><b>Sk Gupta</b></h5>
  </div>
</ion-card>
<ion-card  (click)="toParC('Dr Sanjeev Mishra')">
  <div class="avatar1">
    <img src="../../assets/user.png" alt="">
  </div>
  <div>
    <ion-card-subtitle>Parental Counseller </ion-card-subtitle>
    <h5 style="margin: 0px 0px 10px;"><b>Dr Sanjeev Mishra</b></h5>
  </div>
</ion-card>
<ion-card  (click)="toTT('Indrani Sen')">
  <div class="avatar1">
    <img src="../../assets/user.png" alt="">
  </div>
  <div>
    <ion-card-subtitle>Teacher Trainer </ion-card-subtitle>
    <h5 style="margin: 0px 0px 10px;"><b>Indrani Sen</b></h5>
  </div>
</ion-card>
  
</ion-content>
